.task-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid lightgrey;
    border-bottom: 0.5em lightsalmon solid;
    border-left: 2em lightsalmon solid;

    padding: 0.3em;
    margin-bottom: 1em;
}

.done-checkbox {
    font-size: 1.7em;
    padding: 0 0.3em;
    cursor: pointer;
    user-select: none;
}

.task-item .priority {
    padding: 1.5em;
    border-radius: 50%;
    align-items: center;
    display: flex;
    font-size: 1.1em;
    font-weight: bold;
    justify-content: center;
    border: 0.5em lightgray solid;
}

.task-item .title {
    font-size: 1.3em;
    font-weight: bold;
    padding-left: 0.5em;
    flex-grow: 5;
    text-decoration: none;
}

.task-item.high {
    border-left-color: orangered;
    border-bottom-color: orangered;
}

.task-item.medium {
    border-left-color: orange;
    border-bottom-color: orange;
}

.task-item.low {
    border-left-color: yellowgreen;
    border-bottom-color: yellowgreen;
}

.task-item > .priority.high {
    border-color: orangered;
}

.task-item > .priority.medium {
    border-color: orange;
}

.task-item > .priority.low {
    border-color: yellowgreen;
}


.done > .priority.high {
    background-color: orangered;
}

.done > .priority.medium {
    background-color: orange;
}

.done > .priority.low {
    background-color: yellowgreen;
}

