.task-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 16px 0 24px 0;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.input-container > * {
    display: flex;
}

.input-container > label {
    font-size: 1.15rem;
}

.input-container > input, .input-container > select {
    padding: 10px;
    font-size: 1rem;
    margin-top: 5px;
}

.input-container > small {
    color: red;
}

button {
    border: none;
    padding: 10px;
    font-size: 1.2rem;
    background-color: lightblue;
}

button:hover {
    background-color: darkblue;
    color: white;
}


