main {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0 auto;
  width: 100vw;
}

.content {
  display: flex;
  flex-direction: row;
  padding: 1em;
  gap: 1em;
}

.content > * {
  flex: 1;
}
